.card {
    margin: 10px;
    padding: 10px;
    border-radius: 1vmin;
    width: 200px;
    background-color: rgb(255, 168, 168);
}

#card-add-btn {
    margin: 10px;
    width: 220px;
    height: 20px;
    border-radius: 5px;
    background-color: grey;
    color: white;
}